@import 'tailwindcss';

@config '../tailwind.config.ts';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 226 82% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.3 31.8% 85%;
    --ring: 248 90% 66%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 28% 12%;
    --foreground: 210 20% 98%;
    --card: 215 28% 13%;
    --card-foreground: 213 20% 95%;
    --popover: 215 28% 12%;
    --popover-foreground: 213 20% 95%;
    --primary: 226 82% 43%;
    --primary-foreground: 226 82% 95%;
    --secondary: 215 25% 22%;
    --secondary-foreground: 213 20% 95%;
    --muted: 215 25% 22%;
    --muted-foreground: 215 20% 75%;
    --accent: 215 25% 22%;
    --accent-foreground: 213 20% 95%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 25% 32%;
    --ring: 248 90% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-slate-800 dark:text-slate-200;
  }

  p,
  span {
    @apply text-slate-700 dark:text-slate-300;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}